<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxj.dao.ConstructionMapper">
	<resultMap id="BaseResultMap" type="com.wxj.domain.entity.work.Construction">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="area_name" property="areaName" jdbcType="VARCHAR" />
		<result column="area_desc" property="areaDesc" jdbcType="VARCHAR" />
		<result column="emp_id" property="empId" jdbcType="VARCHAR" />
		<result column="stakeholder" property="stakeholder" jdbcType="VARCHAR" />
		<result column="st_phone" property="stPhone" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="area_address" property="areaAddress" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="BaseColumnList">
		id,area_name,area_desc,emp_id,stakeholder,st_phone,status,area_address,create_time,update_time,create_user,update_user
	</sql>
	<!-- 添加工地的时候查询员工 -->
	<select id="queryEmDictByadd" resultType="com.wxj.domain.vo.KeyValueVo">
		SELECT b.id KEYWORDS,B.`name` VALUE FROM employee B group by KEYWORDS
	</select>
	<!-- 查询工地的时候查询员工 -->
	<select id="queryEmployeeDic" resultType="com.wxj.domain.vo.KeyValueVo">
		SELECT A.emp_id KEYWORDS,B.`name` VALUE FROM construction A LEFT JOIN
		employee B ON A.emp_id = B.ID where a.emp_id is not null group by KEYWORDS
	</select>
	<select id="selectWorkAreaByPage" parameterType="java.util.Map"
		resultType="com.wxj.domain.entity.work.Construction">
		SELECT a.id ,a.area_name areaName,a.area_desc areaDesc,b.name
		empId,a.stakeholder,a.st_phone stPhone,CASE a.status WHEN 1 THEN '未完工'
		WHEN 0 THEN '完工' END status,a.area_address areaAddress,a.create_time
		createTime,a.update_time updateTime,a.create_user
		createUser,a.update_user updateUser
		FROM construction a LEFT JOIN
		employee b ON a.emp_id = b.id
		<where>
			<if test="id != null and id != ''">
				a.id = #{id}
			</if>
			<if test="areaName != null and areaName != ''">
				and a.area_name = #{areaName}
			</if>
			<if test="areaDesc != null and areaDesc != ''">
				and a.area_desc = #{areaDesc}
			</if>
			<if test="empId != null and empId != ''">
				and a.emp_id = #{empId}
			</if>
			<if test="stakeholder != null and stakeholder != ''">
				and a.stakeholder = #{stakeholder}
			</if>
			<if test="stPhone != null and stPhone != ''">
				and a.st_phone = #{stPhone}
			</if>
			<if test="status != null and status != ''">
				and a.status = #{status}
			</if>
			<if test="areaAddress != null and areaAddress != ''">
				and a.area_address = #{areaAddress}
			</if>
			<if test="createTime != null and createTime != ''">
				and a.create_time = #{createTime}
			</if>
			<if test="updateTime != null and updateTime != ''">
				and a.update_time = #{updateTime}
			</if>
			<if test="createUser != null and createUser != ''">
				and a.create_user = #{createUser}
			</if>
			<if test="updateUser != null and updateUser != ''">
				and a.update_user = #{updateUser}
			</if>
		</where>
		ORDER BY a.update_time DESC
		<if
			test="begin != '' and begin != null and pageSize != '' and pageSize != null">
			LIMIT ${begin},${pageSize}
		</if>
	</select>
	<update id="updateWorkArea" parameterType="com.wxj.domain.entity.work.Construction">
		UPDATE construction
		<set>
			<trim prefix="" suffixOverrides=",">
				<if test="areaName != null and areaName != ''">
					area_name = #{areaName},
				</if>
				<if test="areaDesc != null and areaDesc != ''">
					area_desc = #{areaDesc},
				</if>
				<if test="empId != null and empId != ''">
					emp_id = #{empId},
				</if>
				<if test="stakeholder != null and stakeholder != ''">
					stakeholder = #{stakeholder},
				</if>
				<if test="stPhone != null and stPhone != ''">
					st_phone = #{stPhone},
				</if>
				<if test="status != null and status != ''">
					status = #{status},
				</if>
				<if test="areaAddress != null and areaAddress != ''">
					area_address = #{areaAddress},
				</if>
				<if test="updateUser != null and updateUser != ''">
					update_user = #{updateUser},
				</if>
			</trim>
		</set>
		<where>
		<if test="id != null and id != ''">
					id = #{id}
				</if>
		</where>
	</update>
	<!-- select the site dictionary -->
	<select id="selectWorkDict" resultType="com.wxj.domain.vo.KeyValueVo">
		select a.id
		keywords,a.area_name value from construction a where a.status = '1'
		GROUP
		BY a.id,a.area_name
	</select>
	<select id="selectWorkArea" resultMap="BaseResultMap"
		parameterType="com.wxj.domain.entity.work.Construction">
		select
		<include refid="BaseColumnList" />
		from construction
		<where>
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			<if test="areaName != null and areaName != ''">
				and area_name = #{areaName}
			</if>
			<if test="areaDesc != null and areaDesc != ''">
				and area_desc = #{areaDesc}
			</if>
			<if test="empId != null and empId != ''">
				and emp_id = #{empId}
			</if>
			<if test="stakeholder != null and stakeholder != ''">
				and stakeholder = #{stakeholder}
			</if>
			<if test="stPhone != null and stPhone != ''">
				and st_phone = #{stPhone}
			</if>
			<if test="status != null and status != ''">
				and status = #{status}
			</if>
			<if test="areaAddress != null and areaAddress != ''">
				and area_address = #{areaAddress}
			</if>
			<if test="createTime != null and createTime != ''">
				and create_time = #{createTime}
			</if>
			<if test="updateTime != null and updateTime != ''">
				and update_time = #{updateTime}
			</if>
			<if test="createUser != null and createUser != ''">
				and create_user = #{createUser}
			</if>
			<if test="updateUser != null and updateUser != ''">
				and update_user = #{updateUser}
			</if>
		</where>
	</select>
	<insert id="insertWorkArea" parameterType="com.wxj.domain.entity.work.Construction">
		insert into construction
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				id,
			</if>
			<if test="areaName != null and areaName != ''">
				area_name,
			</if>
			<if test="areaDesc != null and areaDesc != ''">
				area_desc,
			</if>
			<if test="empId != null and empId != ''">
				emp_id,
			</if>
			<if test="stakeholder != null and stakeholder != ''">
				stakeholder,
			</if>
			<if test="stPhone != null and stPhone != ''">
				st_phone,
			</if>
			<if test="status != null and status != ''">
				status,
			</if>
			<if test="areaAddress != null and areaAddress != ''">
				area_address,
			</if>
			create_time,
			update_time,
			<if test="createUser != null and createUser != ''">
				create_user,
			</if>
			<if test="updateUser != null and updateUser != ''">
				update_user,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				#{id},
			</if>
			<if test="areaName != null and areaName != ''">
				#{areaName},
			</if>
			<if test="areaDesc != null and areaDesc != ''">
				#{areaDesc},
			</if>
			<if test="empId != null and empId != ''">
				#{empId},
			</if>
			<if test="stakeholder != null and stakeholder != ''">
				#{stakeholder},
			</if>
			<if test="stPhone != null and stPhone != ''">
				#{stPhone},
			</if>
			<if test="status != null and status != ''">
				#{status},
			</if>
			<if test="areaAddress != null and areaAddress != ''">
				#{areaAddress},
			</if>
			SYSDATE(),
			SYSDATE(),
			<if test="createUser != null and createUser != ''">
				#{createUser},
			</if>
			<if test="updateUser != null and updateUser != ''">
				#{updateUser},
			</if>
		</trim>
	</insert>
	<delete id="deleteWorkArea" parameterType="com.wxj.domain.entity.work.Construction">
		delete from construction
		<where>
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			<if test="areaName != null and areaName != ''">
				and area_name = #{areaName}
			</if>
			<if test="areaDesc != null and areaDesc != ''">
				and area_desc = #{areaDesc}
			</if>
			<if test="empId != null and empId != ''">
				and emp_id = #{empId}
			</if>
			<if test="stakeholder != null and stakeholder != ''">
				and stakeholder = #{stakeholder}
			</if>
			<if test="stPhone != null and stPhone != ''">
				and st_phone = #{stPhone}
			</if>
			<if test="status != null and status != ''">
				and status = #{status}
			</if>
			<if test="areaAddress != null and areaAddress != ''">
				and area_address = #{areaAddress}
			</if>
			<if test="createTime != null and createTime != ''">
				and create_time = #{createTime}
			</if>
			<if test="updateTime != null and updateTime != ''">
				and update_time = #{updateTime}
			</if>
			<if test="createUser != null and createUser != ''">
				and create_user = #{createUser}
			</if>
			<if test="updateUser != null and updateUser != ''">
				and update_user = #{updateUser}
			</if>
		</where>
	</delete>
</mapper>