<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxj.dao.MenuMapper">
	<resultMap id="BaseResultMap" type="com.wxj.domain.entity.menu.Menu">
		<result column="id" property="id" jdbcType="BIGINT" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="path" property="path" jdbcType="VARCHAR" />
		<result column="order" property="order" jdbcType="BIGINT" />
		<result column="pid" property="pid" jdbcType="BIGINT" />
		<result column="create_user" property="createUser" jdbcType="BIGINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="modify_user" property="modifyUser" jdbcType="BIGINT" />
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="BaseColumnList">
		id,title,path,order,pid,create_user,create_time,modify_user,modify_time,
	</sql>
	<!-- 查询菜单表信息 -->
	<select id="select" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT * FROM menu
		<where>
			 1 = 1
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="title != null and title != ''">
				AND title = #{title}
			</if>
			<if test="path != null and path != ''">
				AND path = #{path}
			</if>
			<if test="order != null and order != ''">
				AND order = #{order}
			</if>
			<if test="pid != null and pid != ''">
				AND pid = #{pid}
			</if>
			<if test="createUser != null and createUser != ''">
				AND create_user = #{createUser}
			</if>
			<if test="createTime != null and createTime != ''">
				AND create_time = #{createTime}
			</if>
			<if test="modifyUser != null and modifyUser != ''">
				AND modify_user = #{modifyUser}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				AND modify_time = #{modifyTime}
			</if>
		</where>
		ORDER BY modify_time DESC
		<if test="begin != null and begin != '' and pageSize != null and pageSize != ''">
			limit ${begin},${pageSize}
		</if>
	</select>
	<!-- 插入菜单表信息 -->
	<insert id="insert" parameterType="com.wxj.domain.entity.menu.Menu">
		INSERT INTO menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				id,
			</if>
			<if test="title != null and title != ''">
				title,
			</if>
			<if test="path != null and path != ''">
				path,
			</if>
			<if test="order != null and order != ''">
				order,
			</if>
			<if test="pid != null and pid != ''">
				pid,
			</if>
			<if test="createUser != null and createUser != ''">
				create_user,
			</if>
				create_time,
			<if test="modifyUser != null and modifyUser != ''">
				modify_user,
			</if>
				modify_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				#{id},
			</if>
			<if test="title != null and title != ''">
				#{title},
			</if>
			<if test="path != null and path != ''">
				#{path},
			</if>
			<if test="order != null and order != ''">
				#{order},
			</if>
			<if test="pid != null and pid != ''">
				#{pid},
			</if>
			<if test="createUser != null and createUser != ''">
				#{createUser},
			</if>
				SYSDATE(),
			<if test="modifyUser != null and modifyUser != ''">
				#{modifyUser},
			</if>
				SYSDATE(),
		</trim>
	</insert>
	<!-- 修改菜单表信息 -->
	<update id="update" parameterType="com.wxj.domain.entity.menu.Menu">
		update  menu
		 <trim prefix="set" suffixOverrides=",">

			
			<if test="id != null and id != ''">
				id = #{id},
			</if>
			<if test="title != null and title != ''">
				title = #{title},
			</if>
			<if test="path != null and path != ''">
				path = #{path},
			</if>
			<if test="order != null and order != ''">
				order = #{order},
			</if>
			<if test="pid != null and pid != ''">
				pid = #{pid},
			</if>
			<if test="createUser != null and createUser != ''">
				create_user = #{createUser},
			</if>
			<if test="createTime != null and createTime != ''">
				create_time = #{createTime},
			</if>
			<if test="modifyUser != null and modifyUser != ''">
				modify_user = #{modifyUser},
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				modify_time = #{modifyTime},
			</if>
		</trim>
		<where>
			 id = #{id}
		</where>
	</update>
	<!-- 删除菜单表信息 -->
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM  menu
		<where>
			 id = #{id}
		</where>
	</delete>
	<!-- 查询单个菜单表信息 -->
	<select id="get" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT * FROM menu
		<where>
			id = #{id}
		</where>
	</select>

	<select id="selectMenuByEmId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
SELECT
	a.*
FROM
	menu a
WHERE
	a.id IN (
	SELECT
		b.menu_id
	FROM
		role_menu b
	WHERE
	b.role_id IN ( SELECT c.role_id FROM user_role c WHERE c.user_id = #{emId} )
	)	</select>
</mapper>
